body{
	background: #000;
}
.text-bold{
	font-weight: 600;
}
.bg-primary{
	background: #4267B2 !important;
}
.border-light{
	border: 1px solid #0A2647 !important;
	background: #6885C1 !important;
}
.text-muted{
	color: #B2B2B2 !important;
}
.sign_up_content{
	font-size: 1.3rem !important;
	font-weight: 400;
}
.name-font{
	font-size: 1.1rem !important;
	font-weight: 500;
}
.dob{
	font-size: 10px !important;
}
.terms{
	font-size: 12px !important;
}
.btn-lg{
	border-radius: 5px !important;
	padding: 7px 70px !important;
}